= simple_form_for(@lot) do |f|
  = f.error_notification

  .form-inputs
    = f.input :number
    = f.input :block
    = f.input :stage
    = f.association :user
    = f.input :price
    = f.input :square_meters
    = f.input :front
    = f.input :depth
    = f.input :status

  .form-actions
    = f.button :submit
